* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* hue, saturation(%), lightness(%) GRAYS
  --gray-100: hsl(0, 0%, 13%);
  --gray-200: hsl(0, 0%, 31%);
  --gray-300: hsl(0, 0%, 48%);
  --gray-400: hsl(0, 0%, 74%);
  --gray-500: hsl(0, 0%, 98%); */

  /* hue, saturation(%), lightness(%) TINTED GRAYS
  --gray-100: hsl(148, 30%, 13%);
  --gray-200: hsl(148, 20%, 31%);
  --gray-300: hsl(148, 10%, 48%);
  --gray-400: hsl(148, 10%, 74%);
  --gray-500: hsl(148, 10%, 98%); */

  --green-100: hsl(148, 100%, 8%);
  --green-200: hsl(148, 100%, 14%);
  --green-300: hsl(148, 100%, 20%);
  --green-400: hsl(148, 50%, 40%);
  --green-500: hsl(148, 50%, 96%);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1;
}

.card {
  max-width: 26rem;
  min-width: 16rem;
  margin-top: 3rem;
  background: white;
  color: var(--green-100);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 8%);
}

.card__img-wrapper {
  background: var(--green-500);
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.card__content-wrapper {
  padding: 0 2rem 2rem;
}

.card__img {
  width: 50%;
  max-width: 6rem;
  /* card image is shown once twemoji has parsed */
  display: none;
}

.card__meta {
  color: var(--green-300);
  position: relative;
  display: inline-block;
  margin-bottom: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.card__meta:before {
  color: var(--green-200);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background: var(--green-200);
  border-radius: 50%;
}

.card__header {
  display: flex;
  margin-bottom: 1.75rem;
}

.card__title {
  color: var(--green-100);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.card__heart {
  color: var(--green-300);
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  margin-left: auto;
}

.card__description {
  color: var(--green-200);
  margin-bottom: 2.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.card__btn {
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 500;
  background: var(--green-300);
  color: var(--green-500);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card__btn--outline {
  background: white;
  color: var(--green-200);
  border: 1px solid var(--green-400);
}

@media only screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }

  .card__content-wrapper {
    padding: 0 1.5rem 1.5rem;
  }

  .card__footer {
    grid-gap: 0.75rem;
  }
}

.color_container {
  display: flex;
  margin-top: 12rem;
  margin-bottom: 1rem;
}

.color_palette {
  padding: 0.75rem;
}
