* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* hue, saturation(%), lightness(%) GRAYS
  --gray-100: hsl(0, 0%, 13%);
  --gray-200: hsl(0, 0%, 31%);
  --gray-300: hsl(0, 0%, 48%);
  --gray-400: hsl(0, 0%, 74%);
  --gray-500: hsl(0, 0%, 98%); */

  /* hue, saturation(%), lightness(%) GREEN TINTED GRAYS */
  --gray-100: hsl(148, 30%, 13%);
  --gray-200: hsl(148, 20%, 31%);
  --gray-300: hsl(148, 10%, 48%);
  --gray-400: hsl(148, 10%, 74%);
  --gray-500: hsl(148, 10%, 98%);

  /* hue, saturation(%), lightness(%) GREEN PRIMARY COLOR */
  --green-100: hsl(148, 100%, 8%);
  --green-200: hsl(148, 100%, 14%);
  --green-300: hsl(148, 100%, 20%);
  --green-400: hsl(148, 50%, 40%);
  --green-500: hsl(148, 50%, 96%);

  /* hue, saturation(%), lightness(%) MAROON COMPLEMENTARY COLOR */
  --maroon-100: hsl(348, 100%, 8%);
  --maroon-200: hsl(348, 100%, 14%);
  --maroon-300: hsl(348, 100%, 20%);
  --maroon-400: hsl(348, 50%, 40%);
  --maroon-500: hsl(348, 50%, 96%);

  /* hue, saturation(%), lightness(%) BLUE TINTED GRAYS */
  --bluegray-100: hsl(190, 30%, 13%);
  --bluegray-200: hsl(190, 20%, 31%);
  --bluegray-300: hsl(190, 10%, 48%);
  --bluegray-400: hsl(190, 10%, 74%);
  --bluegray-500: hsl(190, 10%, 98%);

  /* hue, saturation(%), lightness(%) BLUE PRIMARY COLOR GRAYS */
  --blue-100: hsl(190, 90%, 6%);
  --blue-200: hsl(190, 80%, 26%);
  --blue-300: hsl(190, 70%, 46%);
  --blue-400: hsl(190, 60%, 76%);
  --blue-500: hsl(190, 50%, 96%);

  /* hue, saturation(%), lightness(%) ORANGE COMPLEMENTARY COLOR */
  --orange-100: hsl(20, 90%, 6%);
  --orange-200: hsl(20, 80%, 26%);
  --orange-300: hsl(20, 70%, 46%);
  --orange-400: hsl(20, 60%, 76%);
  --orange-500: hsl(20, 50%, 96%);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1;
}

.container {
  display: flex;
}

.card {
  max-width: 26rem;
  min-width: 16rem;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 8%);
}

#card_1 {
  color: var(--green-100);
}

#card_2 {
  color: var(--blue-100);
  margin-top: 6rem;
}

.card__img-wrapper {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

#card__img-wrapper_1 {
  background: var(--green-500);
}

#card__img-wrapper_2 {
  background: var(--blue-500);
}

.card__content-wrapper {
  padding: 0 2rem 2rem;
}

.card__img, .card__img_2 {
  width: 50%;
  max-width: 6rem;
  /* card image is shown once twemoji has parsed */
  display: none;
}

.card__meta {
  position: relative;
  display: inline-block;
  margin-bottom: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

#card__meta_1 {
  color: var(--gray-300);
}

#card__meta_1:hover {
  color: var(--green-400);
}

#card__meta_2 {
  color: var(--bluegray-300);
}

#card__meta_2:hover {
  color: var(--blue-300);
}

.card__meta:before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
}

#card__meta_1:before {
  background: var(--green-400);
}

#card__meta_2:before {
  background: var(--blue-400);
}

.card__header {
  display: flex;
  margin-bottom: 1.75rem;
}

.card__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

#card__title_1 {
  color: var(--gray-100);
}

#card__title_2 {
  color: var(--bluegray-100);
}

.card__heart {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  margin-left: auto;
}

#card__heart_1 {
  color: var(--maroon-300);
  fill: var(--maroon-500);
}

#card__heart_1:hover {
  fill: var(--maroon-300);
}

#card__heart_2 {
  color: var(--orange-300);
  fill: var(--orange-500);
}

#card__heart_2:hover {
  fill: var(--orange-300);
}

.card__description {
  margin-bottom: 2.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  hyphens: auto;
  -webkit-hyphens: auto;
}

#card__description_1 {
  color: var(--gray-200);
}

#card__description_2 {
  color: var(--bluegray-100);
}

.card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.card__btn {
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#card__btn_1 {
  background: var(--green-300);
  color: var(--green-500);
}

#card__btn_1:hover {
  background: var(--green-400);
}

#card__btn_2 {
  background: var(--blue-200);
  color: var(--blue-500);
}

#card__btn_2:hover {
  background: var(--blue-300);
}

#card__btn--outline_1 {
  background: white;
  color: var(--gray-200);
  border: 1px solid var(--gray-400);
}

#card__btn--outline_1:hover {
  border: 1px solid var(--green-400);
}

#card__btn--outline_2 {
  background: white;
  color: var(--bluegray-200);
  border: 1px solid var(--bluegray-400);
}

#card__btn--outline_2:hover {
  border: 1px solid var(--blue-300);
}

@media only screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }

  .card__content-wrapper {
    padding: 0 1.5rem 1.5rem;
  }

  .card__footer {
    grid-gap: 0.75rem;
  }
}

.container_card_1, .container_card_2 {
  display: flex;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
}

.container_color {
  display: flex;
  justify-content: center;
  margin-bottom: -0.75rem;
}

.color_palette {
  padding: 0rem;
  margin-left: 1rem;
}
